* {
	font-family: monospace;
}

body {
	color: #111;
	background: #eee;
	max-width: 900px;
	margin: 0px;
}

h1 {
	text-align: center
}

p, li{
	font-family: monospace;
	color: green;
	text-decoration: none;
}

.column {
	float: left;
	margin: 5px;
}
.four-quarters {
	width: calc(100% - 10px);
}
.three-quarters {
	width: calc(75% - 10px);
}
.two-quarters {
	width: calc(50% - 10px);
}
.one-quarters {
	width: calc(25% - 10px);
}

.link-panel {
	height: 350px;
	overflow: hidden;
	border: none;
}
